# 02 — Single obstacle
start_x     = -1.5
start_y     = -2.0
start_theta = 0.7854
goal_x      = 1.0
goal_y      = 4.5
goal_theta  = 1.5708

obs.0.x      = 1.0
obs.0.y      = 1.0
obs.0.theta  = 0.0
obs.0.length = 0.6
obs.0.width  = 0.4
